SITE_DOMAIN=example.com

NEXT_PUBLIC_BE_URL=https://api.memechan.gg
NEXT_PUBLIC_CHART_HISTORICAL_PRICES_ENDPOINT=https://api.memechan.gg/chart
NEXT_PUBLIC_CHART_CURRENT_PRICE_ENDPOINT=https://api.memechan.gg/price
NEXT_PUBLIC_CHART_REALTIME_RELOAD_INTERVAL=3000
NEXT_PUBLIC_CHART_PRICE_DIGITS_AFTER_COMMA=10
NEXT_PUBLIC_SDK_ENV=production
NEXT_PUBLIC_USE_MOCK_DATA=false
CHART_CONTRACT_NAME=USD
NEXT_PUBLIC_PINATA_GATEWAY_URL=https://gateway.pinata.cloud

NEXT_PUBLIC_VCHAN_TOKEN_ADDRESS=vCHANTQ8fiK13PvYABK9HbjbAJuzwiUsBC6VFfhKZT7
NEXT_PUBLIC_VECHAN_TOKEN_ADDRESS=VEchantZvFUiEimQtJhRExGhyWNwUMUH6wC88sN4mGj
NEXT_PUBLIC_MEMECHAN_PROGRAM_ID=memeVtsr1AqAjfRzW2PuzymQdP2m7SgL6FQ1xgMc9MR
NEXT_PUBLIC_MEMECHAN_PROGRAM_ID_V2=chv2ogo3QopnnGctZM9Hxo2VCQ2zEcvQy6Uo6XVpiRH
NEXT_PUBLIC_MEMECHAN_PROGRAM_ID_STAKING=vestJGg7ZMQoXiAr2pLV5cqgtxFhEWzNoZL5Ngzb8H4
